html {
  background-color: #fffbf0fb;
  word-wrap: break-word; }

nav {
  text-indent: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  grid-column: 1;
  grid-row: 2; }
  nav ul li {
    overflow: hidden;
    list-style: none; }

header {
  text-indent: 1.5em;
  font-family: 'Libre Baskerville', serif;
  font-size: 16pt;
  text-align: left;
  margin-top: 5%;
  grid-column: 2 / 6;
  border-bottom: #4b3535 dotted; }

h3 {
  text-indent: 4%; }

body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto auto auto auto; }

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  text-align: center;
  grid-row: -1;
  grid-column: 1 / 6; }

.profile-pic {
  grid-row: 1;
  grid-column: 1; }
  .profile-pic img {
    border-radius: 10%;
    scale: 85%;
    margin-right: 15%; }

.content {
  grid-column: 2 / 5;
  font-family: 'Libre Baskerville', serif;
  line-height: 150%;
  text-indent: 1.5em; }
  .content .description {
    text-align: center; }
  .content .vertical {
    width: 50%;
    left: 25%; }
  .content h3 {
    position: relative; }
  .content img {
    height: auto;
    position: relative; }

#gallery {
  grid-row: auto;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: auto auto auto auto auto; }
  #gallery img {
    scale: 95%;
    margin-left: 5%;
    display: table-cell;
    vertical-align: middle; }

#about {
  grid-column: 2 / 6;
  grid-row: auto;
  font-family: 'Libre Baskerville', serif;
  line-height: 150%;
  text-indent: 1.666em;
  line-height: 1.666em;
  width: 90%;
  padding: 5%;
  word-wrap: break-word; }

#perlin {
  max-width: 100%; }

img {
  width: 100%; }

a {
  color: #4b3535; }

a:visited {
  color: #888383; }

@media only screen and (max-width: 480px) {
  nav {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    margin-left: -15%;
    line-height: 150%;
    text-indent: 0em; }
  header {
    text-indent: 0em;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-top: 0; }
  body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto; }
  section {
    grid-row: 3;
    grid-column: 1; }
  footer {
    grid-column: 1;
    grid-row: -1; }
  .profile-pic {
    grid-row: 1;
    grid-column: 1; }
    .profile-pic img {
      border-radius: 10%;
      scale: 85%;
      margin-right: 15%; }
  .content {
    grid-column: 1;
    grid-row: auto;
    font-family: 'Libre Baskerville', serif;
    line-height: 150%;
    text-indent: 1.5em;
    width: 90%;
    padding: 5%; }
  #about {
    grid-column: 1;
    grid-row: auto;
    font-family: 'Libre Baskerville', serif;
    line-height: 150%;
    text-indent: 1.5em;
    width: 90%;
    padding: 5%;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
  #gallery {
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto auto auto; }
    #gallery img {
      scale: 100%;
      margin-left: 0;
      padding-bottom: 5%;
      display: table-cell;
      vertical-align: middle; }
  #perlin {
    width: 75%;
    max-width: 100%; }
  iframe {
    max-width: 100%; } }

/*# sourceMappingURL=main.css.map */
