background {

}
.container {
  // max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: $headfont;
}

header, section {
  @include box;
}

header {
  @include animatron;
  @extend .slideInDown;
}

section:nth-of-type(odd) {
  @include animatron;
  @extend .slideInRight;
}
section:nth-of-type(even) {
  @include animatron;
  @extend .slideInLeft;
}
