@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand&display=swap');
// usage:
$basefont: 'Playfair Display', serif;
$headfont: 'Quicksand', sans-serif;
$basecolor: #0070ff;

$round: 25px;
