// Andrew Barlow
// layout.scss
// Layout CSS for my personal website
// 2021

// IMPORTS/////////////////////////////////////////////////////////////////////

// CSS Reset
@use 'reset';

// Responsive Layout
@use 'responsive';

// google fonts:
//  roboto - all weights
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// VARIABLES/////////////////////////////////////////////////////////////////////

// color
$background-color: #64F0E5;
$background-highlight: #000000;

$text-color: #000000;
$text-highlight: #000000;

$link-color: #000000;
$link-color-visited: #000000;

// typography
$display-font: 'Roboto', sans-serif;
$display-font-weight: 900;
$display-font-size: 30pt;

$copy-font: 'Roboto', sans-serif;
$copy-font-size: 16pt;
$copy-font-weight: 300;

$small-font-size: 12pt;
$small-font-weight: 200;


// STYLE/////////////////////////////////////////////////////////////////////

